{% extends "layout.html" %}

{% block body %}

<div  style="  border-top:2px ridge blue;  " >
    
    {% if galeris %}
    <br>
    <h3>GALERİ</h3>
    {% for galeri in galeris %}
    <div style=" ">

           
            <table class="table">
             <thead>
                <tr style="color:blue;" >
                <th scope="col">Kategori</th>
                <th scope="col">Başlık</th>
                <th scope="col">Oluşturulma Tarihi</th>
    
            
            
            
                </tr>
             </thead>
            <tbody>
            
                <tr>
                    <th scope="row">{{galeri.galeri_category}}</th>
                    <th>{{galeri.galeri_title}}</th>
                    <th scope="row">{{galeri.created_date}}</th>
                    
                    
                    
                </tr>
    
               
                
            </tbody>
    
            
            </table>
            {% if galeri.galeri_content %}
            <div style=" margin-left:200px; "><img src = "{{galeri.galeri_content.url}}" alt = "Görüntülenemiyor..." width = "300" height = "200"></div> 
            
            {% endif %}
            
            
            
           
            </div>

            <br>
            <hr>
            
            
            
    
    {% endfor %}
    
        




{% else %}
<div class="alert alert-danger">
    Henüz bir içerik bulunmuyor.

</div>


{% endif %}


</div>

{% endblock body %}

