{% extends "layout.html" %}

{% block body %}
<h3>Oyuncularımız</h3>
{% if oyuncular %}

<table class="table">
    <thead>
      <tr style="color:blue;">
        
        <th scope="col">Pozisyon</th>
        <th scope="col">Yaş</th>
        <th scope="col">İsim</th>
        
        
        <th scope="col"></th>
        
        

        
        
        
      </tr>
    </thead>
    <tbody>
        {% for oyuncu in oyuncular %}
            <tr>
                
                <th scope="row">{{oyuncu.position}}</th>
                <th scope="row">{{oyuncu.age}}</th>
                <th scope="row">{{oyuncu.name}}</th>
                
                <th scope="col"><a href="/databases/detail/{{oyuncu.id}}"><button class="alert alert-info">Detay</button></a>  </th>
                
                
                
                
            </tr>
        {% endfor %}
      
    </tbody>
</table>
{% else %}
<div class="alert alert-danger">
    Oyuncu bulunmuyor.

</div>
{% endif %}


{% endblock body %}
